@import url("https://fonts.cdnfonts.com/css/proxima-nova");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-inter: "Inter", sans-serif;
  --font-sans: "Open Sans", sans-serif;
  --color-orange: #055049;
  --color-blue: #faf35e;
  --color-neutral: #d9d9d9;
  --color-aqua: #97f2e8;
  --shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
}

.responsive-px {
  @apply lg:px-32 px-8;
}

.sidebar {
  height: calc(100vh - 80px);
}

.rounded-10 {
  @apply rounded-[10px];
}

html {
  scroll-behavior: smooth !important;
  scroll-padding: 5rem;
  font-family: "Proxima Nova", sans-serif;
  overflow: hidden !important;
}

.bg-gradient {
  background: linear-gradient(71deg, #010823 0%, #041a6f 100%);
}

@layer {
  .hamburger {
    @apply h-1 w-10 bg-black;
  }
}

.person {
  background-color: teal;
  margin: 1em;
  padding: 1em;
  border-radius: 8px;
  color: white;
  text-transform: uppercase;
}

.person h2 {
  font-weight: 600;
}

.atitle {
  font-size: 3em;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100vw;
}

.data {
  margin-top: 5em;
}

.text-head {
  @apply text-2xl font-semibold;
}

.text-head-sm {
  @apply text-xl font-semibold;
}

.text-sm {
  @apply font-normal text-base;
}
