@import "./contants";

.navbar__header {
  display: flex;
  height: 80px;
  align-items: center;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    ul {
      display: flex;
      align-items: center;
      gap: 80px;
      list-style: none;

      li {
        font-size: 24px;
        font-weight: 600;
        cursor: pointer;

        &.getStarted {
          border: 1px solid $color-tint;
          padding: 0.5rem 1rem;
          border-radius: 5px;
          transition: $trans;
    

          &:hover {
            background-color: $color-tint;
            color: $color-blue;
          }
        }
      }
    }
  }
}
